body {
  font-size: 1.5em;
}

.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  width: 100vw;
}

.one {
  background-image: url(https://picsum.photos/800/800/?gravity=center)
}

.two {
  background-color: #8fbc8f;
}

.three {
  background-color: #00ddcc;
}

.four {
  background-color: #dd0000;
}

.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main {
    display: block;
  }
  .main > div {
    height: 200px;
  }
}
