body {
font-size: 1.5em;
}
.main {
display: grid;
grid-gap: 5px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
height: 100vh;
width: 100vw;
}
.one {
grid-area: 1 / 1 / 4 / 4;
background-image: url(https://cdn.pixabay.com/photo/2016/07/28/04/31/math-1547018_960_720.jpg);
}
.two {
grid-area: 1 / 4 / 5 / 6;
background-image: url(https://cdn.pixabay.com/photo/2015/05/10/21/28/accounting-761599_960_720.jpg);
}
.three {
grid-area: 4 / 1 / 7 / 3;
background-image: url(https://imageshack.com/a/img538/4434/e13e17.jpg);
}
.four {
grid-area: 5 / 3 / 7 / 6;
background-image: url(https://imageshack.com/a/img631/345/2YVDz2.jpg);

}
.five {
grid-area: 4 / 3 / 5 / 4;
background-image: url(https://imageshack.com/a/img674/860/n4Nlka.jpg);
    background-size: cover;
}
.main > div {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
@media screen and (max-width: 600px) {
.main {
display: block;
}
.main > div {
height: 200px;
}
}
