body {
  font-size: 1.5em;
}

.main {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  width: 100vw;
}

.NAUKA {
  background-image: url(https://picsum.photos/200/300/?gravity=center);
  grid-row: span 1;
  grid-column: span 1;
} 

.ZABAWA {
  background-image: url(https://picsum.photos/200/300?image=0/?gravity=center);
  grid-row: span 2;
  grid-column: span 2;
}

.CIEKAWOSTKI {
  background-image: url(https://picsum.photos/200/300/?gravity=east/?gravity=center);
  grid-row: span 2;
  grid-column: span 2;
  
}

.MATEMATYKA {
  background-image: url(https://picsum.photos/200/300/?random/?gravity=center);
  grid-row: span 1;
  grid-column: span 1;
}

.five {
  background-color: #FF0066;
  grid-row: span 2;
  grid-column: span 1;
}

.main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main {
    display: block;
  }
  .main > div {
    height: 200px;
  }
}
